<%- include('header'); -%>
<section class="container" style="position: relative; margin-bottom: 10rem">
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-12 col-xs-12 banner-text"
      id="banner-section"
    >
      <div class="">
        <div class="heading font-bold" style="position: relative">
          <span class="head-relative">AKASH</span>
          <div class="overlay-heading banner-overaly">
            I am Full-Stack Developer.<br />
            Living in India.
          </div>
        </div>

        <div style="position: relative; margin-top: 10rem">
          <a href="" class="btn btn-primary"> GET IN TOUCH </a>
          <a href="" class="btn btn-outline-primary"> MY WORK </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
  </div>
</section>
<%- include('footer'); -%>
