<%- include('header'); -%>
<section class="container" style="position: relative; margin-bottom: 10rem">
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-12 col-xs-12 banner-text"
      id="banner-section"
    >
      <div class="">
        <div class="heading font-bold" style="position: relative">
          <span class="head-relative">AKASH</span>
          <div class="overlay-heading banner-overaly">
            I am Full-Stack Developer.<br />
            Living in India.
          </div>
        </div>

        <div style="position: relative; margin-top: 10rem">
          <a href="" class="btn btn-primary"> GET IN TOUCH </a>
          <a href="" class="btn btn-outline-primary"> MY WORK </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
  </div>
</section>
<section class="mb-5 about" id="about">
  <div class="container" style="position: relative">
    <div class="heading font-bold" style="position: relative">
      <span class="head-relative">ABOUT</span>
      <div class="overlay-heading">Who I Am</div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 vertical-align-center">
        <div>
          <p>
            My name is Akash and I am Full Stack Mobile/Web Developer from
            India. I Enjoy building Everything from samll Business/Personal to
            large Mobile or Web Apps.
          </p>
          <p>
            The above lines represent my working status, But after working hours
            I am normal boy trying to enjoy my life in a better way and spending
            my time with family.
          </p>
          <!-- <p>
            In the meantime, I also try to learn new skills in my free time to
            improve my productivity and efficiency.
          </p> -->
          <!-- <h2 class="subheading">Why Work With Me</h2>
        <p>
          There’s nothing I enjoy more than developing good Mobile Application
          and websites for nice people. It really is that simple.
        </p>
        <p>
          I’ve spent many years trying to perfect what I do and while I’ll never
          be perfect, I do my best to come close.
        </p> -->
          <a href="#contact" class="btn btn-primary mb-3"> GET IN TOUCH </a>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="skill-section">
          <div class="skill">
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <p style="padding: 5px 0">
                Mobile App Development<br />
                <span style="font-size: 0.8rem; color: #03c96c">
                  React Native, Android, ReduxJs, FireBase, Google API
                </span>
              </p>
              <span style="font-size: 1.5rem; color: #03c96c"> 90% </span>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="skill">
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <p style="padding: 5px 0">
                Front-End Development<br />
                <span style="font-size: 0.8rem; color: #03c96c">
                  HTML, CSS, JavaScript, JQuery, BootStrap, ReactJS, ReduxJs
                </span>
              </p>
              <span style="font-size: 1.5rem; color: #03c96c"> 85% </span>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 85%"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="skill">
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <p style="padding: 5px 0">
                Back-End Development<br />
                <span style="font-size: 0.8rem; color: #03c96c">
                  NodeJs, Express, Python, PHP, Django, MongoDB, MySQL
                </span>
              </p>
              <span style="font-size: 1.5rem; color: #03c96c"> 95% </span>
            </div>
            <div class="progress">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-5" id="services">
  <div class="container">
    <div class="heading font-bold" style="position: relative">
      <span class="head-relative">SERVICES</span>
      <div class="overlay-heading">My Expertise</div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 mb-4">
        <div class="service">
          <div class="service-icon">
            <i
              class="fas fa-laptop-code"
              style="color: #03c96c; font-size: 5rem"
            ></i>
          </div>
          <div>
            <p class="service-title">Web App Development</p>
            <p>
              I like to build stuff from scratch. Building web apps for
              Business, Ecommerce, Live Streaming, Start Ups. I provided
              services in NodeJs, React Js, Python(Django), MongoDb, MySQL etc.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 mb-4">
        <div class="service">
          <div class="service-icon">
            <i
              class="fas fa-mobile-alt"
              style="color: #03c96c; font-size: 5rem"
            ></i>
          </div>
          <div>
            <p class="service-title">Mobile App Development</p>
            <p>
              Building Mobile Application is like an art and i am good at it. I
              provide Mobile services for Ecommerce, Social Media, Media Apps.
              For Mobile i use React Native, Android, ReduxJs, FireBase.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="service">
          <div class="service-icon">
            <i
              class="fas fa-mobile-alt"
              style="color: #03c96c; font-size: 5rem"
            ></i>
          </div>
          <div>
            <p class="service-title">Mobile App Development</p>
            <p>
              Building Mobile Application is like an art and i am good at it. I
              provide Mobile services for Ecommerce, Social Media, Media Apps.
              For Mobile i use React Native, Android, ReduxJs, FireBase.
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="mb-5" id="portfolio">
  <div class="container">
    <div class="heading font-bold text-right" style="position: relative">
      <span class="head-relative">WORK</span>
      <div class="overlay-heading">Portfolio</div>
    </div>
    <div
      class="mt-4"
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      "
    >
      <button
        class="btn btn-primary"
        id="portfolio-all"
        style="width: 200px; margin: 0 15px"
      >
        All
      </button>
      <button
        id="portfolio-web"
        class="btn"
        style="width: 200px; margin: 0 15px"
        aria-multiline="false"
      >
        Website
      </button>
      <button
        id="portfolio-mobile"
        class="btn"
        style="width: 200px; margin: 0 15px"
        aria-multiline="false"
      >
        Mobile App
      </button>
    </div>
    <div class="row mt-5" id="portfolio-item">
      <div
        class="col-sm-12 col-xs-12 col-md-6 col-lg-4 mb-4 portfolioItems"
        data-id="Website"
      >
        <div
          class="portfolio-card"
          style="background-image: url('/assets/images/gargee.png')"
        >
          <div class="portfolio-overlay"></div>
          <div class="portfolio-text">Gargee Designers</div>
        </div>
      </div>
      <div
        class="col-sm-12 col-xs-12 col-md-6 col-lg-4 mb-4 portfolioItems"
        data-id="Mobile"
      >
        <div
          class="portfolio-card"
          style="background-image: url('/assets/images/oyexpertsCustomer.PNG')"
        >
          <div class="portfolio-overlay"></div>
          <div class="portfolio-text">Oyexperts Customer App</div>
        </div>
      </div>
      <div
        class="col-sm-12 col-xs-12 col-md-6 col-lg-4 mb-4 portfolioItems"
        data-id="Mobile"
      >
        <div
          class="portfolio-card"
          style="background-image: url('/assets/images/partner.PNG')"
        >
          <div class="portfolio-overlay"></div>
          <div class="portfolio-text">Oyexperts Vendor App</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="mb-5" id="portfolio">
  <div class="container">
    <div class="heading font-bold text-right" style="position: relative">
      <span class="head-relative">BLOG</span>
      <div class="overlay-heading">Articles</div>
    </div>
    <div class="mt-4">
      <div class="row">
        
      </div>
    </div>
  </div>
</section> -->
<section class="mb-5" id="contact">
  <div class="container">
    <div class="heading font-bold text-right" style="position: relative">
      <span class="head-relative">CONTACT</span>
      <div class="overlay-heading">Let's Talk</div>
    </div>
    <div class="mt-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
          <div>
            <i
              class="fas fa-envelope"
              style="
                color: #03c96c;
                font-size: 2rem;
                padding: 5px;
                border-radius: 100px;
                margin-bottom: 10px;
              "
            ></i>
          </div>
          <p style="font-size: 1.2rem">
            <a href="mailto:akashdeepcse@gmail.com" style="color: #f1f1f1"
              >akashdeepcse@gmail.com</a
            >
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
          <div>
            <i
              class="fas fa-phone"
              style="
                color: #03c96c;
                font-size: 2rem;
                padding: 5px;
                border-radius: 100px;
                margin-bottom: 10px;
              "
            ></i>
          </div>
          <p style="font-size: 1.2rem">
            <a href="tel:+917888929889" style="color: #f1f1f1"
              >+91 78889-29889</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('footer'); -%>
